streamlit == 1.16.0
python == 3.7.5.
numpy == 1.23.5
pandas == 1.5.3
seaborn == 0.12.2
plotly == 5.9.0
kaleido-core == 0.2.1
matplotlib == 3.7.0           
matplotlib-base == 3.7.0           
matplotlib-inline == 0.1.6
