.title{
    color : white;
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.css-10pw50.egzxvld1{
    visibility:hidden;
}
.css-1aumxhk {
    margin-top: 0rem;
    padding-top: 0rem;
}
.stButton button:first-child {
    margin-right: 0px;
}

.stButton{
    width:42px;
}
.block-container.css-z5fcl4.egzxvld4{
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom:0rem;
}
hr{
    border: 1px solid #4ad295;
}
.css-otxysd.egzxvld1{
    visibility:hidden;
}

.div{
    border-color: #4ad295;
}

.subheader{
    color : #8d949e;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-size: 30px;

}

.about{
    outline: #4ad295 1px solid;
    margin-top: 120px;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.group{
    text-align: center;
    color: #d1dbea;
    font-weight: bold;
}

.mem{
    text-align: center; 
}
.member{
    color: #d1dbea;
}

.css-1v0mbdj.etr89bj1{
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    border: 0;
 
}